extends layout

block content
   div#parentdiv
      div#topdiv
         h1 Traffic
         div#textarea1 The Traffic today iss....
      div#leftdiv
         h1 left div
      div#rightdiv
         h1 Right div
         div#content
      div#bottomdiv
         h1 bottom div


