doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',  href='http://bootswatch.com/journal/bootstrap.min.css')
    meta(charset='utf-8')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='javascripts/myscript.js')
  body
    block content